
<div class="app__container">
    <div class="grid wide hiden">
        <div class="row app__content">
            <div class="col l-12 mb-24">
                <span class="cart__header" id="cart__title">Giỏ hàng</span>
            </div>
            <div class="col l-8 cart__container" id="cart-products">
                
                {{!-- {{#each carts}}
                    
                    <input type="text" value="{{this.color}}" name="color">
                    <input type="text" value="{{this.slug}}" name="slug">
                    <div class="col l-12">
                        <div class="cart__product-container">
                            <div class="cart__product-container-img">
                                <img src="{{this.img}}" class="cart__product-img">
                            </div>
                            <div class="cart__product-info">
                                <div class="cart__product-info-name">
                                    <a href="/{{this.slug}}/detail" class="header__cart-product-name-link">{{this.name}}</a h>
                                </div>
                                <div class="cart__product-info-deliver">
                                    <span class="cart__product-info-deliver-text">Màu: {{this.color}}</span>
                                </div>
                                <div>
                                    <a href="#" name="{{this.slug}}/{{this.color}}" class="cart__product-info-delete">Xóa</a> --}}
                                    {{!-- <a href="/cart/{{this.slug}}/{{this.color}}/delete" name="delete-product" class="cart__product-info-delete">Xóa</a> --}}
                                    {{!-- <a href="#" class="cart__product-info-buy-later">Để dành mua sau</a>
                                </div>
                            </div>
                            <div class="cart__product-price">
                                <span class="cart__product-price-text">{{numberWithDots this.price}}</span>
                            </div>
                            <div class="cart__product-quantity">
                                <span class="btn-quantity right">-</span>
                                <input type="text" class="cart__product-quantity-input" value="1">
                                <span class="btn-quantity left">+</span>
                            </div>
                        </div>
                    </div>
                {{/each}} --}}
            </div>
            
            <div class="col l-4">
                <div class="col l-12 pb-12">
                    <div class="cart__user-conatainer">
                        <div class="cart__user-header">
                            <span class="cart__user-header-text">Địa chỉ nhận hàng</span>
                            <a href="/cart/address" class="cart__user-header-change">Thay đổi</a>
                        </div>
                        <div class="cart__user-info">
                            <span class="cart__user-info-name">{{user.nickname}}</span>
                            <span class="cart__user-info-phone">{{user.phone}}</span>
                        </div>
                        <div class="cart__user-adress">
                            <span class="cart__user-adress-text">{{user.address}}</span>
                        </div>
                    </div>
                </div>
                <div class="col l-12">
                    <div class="cart__price-conatainer hoz">
                        <ul class="cart__price-list">
                            <li class="cart__price-temp">
                                <span class="cart__price-temp-text">Tạm tinh</span>
                                <span class="cart__price-temp-price" id="total-price-temp">6.9400.000đ</span>
                            </li>
                        </ul>
                    </div>

                    <div class="cart__price-conatainer">
                        <div class="cart__price-temp mt-12">
                            <span class="cart__price-now-text">Thành tiền</span>
                            <span class="cart__price-now-price" id="total-price"></span>
                        </div>
                    </div>
                     
                </div>
                
                <div class="col l-12 pt-12">
                    <button class="detail__submit-buy-btn btn-submit-cart" id="cart-buy">
                        <span class="detail__submit-add-text">Tiến hành đặt hàng</span>
                    </button>
                     
                </div>
               

            </div>	
            
        </div>
    </div>
</div>
